.body{
    height: auto;
    height: 100vh;
    overflow-y: overlay;
    flex: 0.8;
    color: white;
    padding: 30px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(83, 63, 194);
}

.bodyHeader{
    display: flex;
    place-content: flex-end;
    margin-bottom: 30px;
}

.bodyHeader-right{
    display: flex;
    align-items: center;
}

.bodyHeader-right h4{
    margin-left: 10px;
}

.bodyInfo{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.bodyInfo img{
    height: 20vw;
    margin: 0 20px;
}

.bodyInfo-title{
    flex: 1;
}

.bodyInfo-title h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.bodyInfo-title p{
    color: #a5a5a5;
}

.bodySongs{
    margin: 20px -30px;
    background-color: rgba(0, 0, 0, 0.2);
}

.bodySongs .bodySongs-icons{
    display: flex;
    align-items: center;
}

.bodySongs .bodySongs-icons .MuiSvgIcon-root{
    margin-right: 20px;
}

.bodySongs-icons .icons-play{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80px;
}

.bodySongs-icons .icons-play:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
    cursor: pointer;
}

.singleSong{
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
    padding: 20px;
}

.singleSong:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.singleSong img{
    width: 60px;
    height: 60px;
}

.singleSong-info{
    margin-left: 20px;
}

.singleSong-info h1{
    font-size: 16px;
}

.singleSong-info p{
    color: gray;
    margin-top: 3px;
}

@media screen and (max-width: 1000px) {
    .body{
        flex: 1;
        
    }

    .bodyInfo img{
        height: 200px;
        margin: 0 20px;
    }
    
    .bodyInfo-title{
        flex: 1;
    }
    
    .bodyInfo-title h2{
        font-size: 48px;
        margin-bottom: 10px;
    }
  
}

@media screen and (max-width: 630px) {
    .bodyInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .bodyInfo img{
        height: 330px;
    }
    
    .bodyInfo-title{
        flex: 1;
        margin-top: 15px;
    }
    
    .bodyInfo-title h2{
        font-size: 30px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 500px) {
    .bodyInfo img{
        height: 250px;
    }
}